<section id="contact" class="contact-section">
    <div class="contact-section-header">
      <h2>Construction Jobs</h2>
      <p style="color: #fffff0;">Find us on</p>
    </div>
    <div class="contact-links">
      <a
        href="https://www.facebook.com/profile.php?id=61556610192189"
        target="_blank"
        class="btn contact-details"
        ><i class="ri-facebook-box-fill"></i>Facebook</a
      >
      <a
        id="profile-link"
        href="https://github.com/clintonbeyene"
        target="_blank"
        class="btn contact-details"
        ><i class="fab fa-github"></i> GitHub</a
      >
      <a
        href="https://twitter.com/ClintonBeyene"
        target="_blank"
        class="btn contact-details"
        ><i class="fab fa-twitter"></i> Twitter</a
      >
      <a href="https://mail.google.com/mail/u/0/#inbox" class="btn contact-details"
        ><i class="fas fa-at"></i> Send a mail</a
      >
      <a href="" class="btn contact-details"
        ><i class="fas fa-mobile-alt"></i> Call me</a
      >
    </div>
</section>