<h4>Job Form</h4>
<form action="/jobpost" method="post">
  <div class="mb-2">
    <label>Email</label><br>
    <input type="text" placeholder="Company email" name="company_email">
  </div>
  <div class="mb-2">
    <label>Company</label><br>
    <input type="text" placeholder="Company name" name="company">
  </div>
  <div class="mb-2">
  <label>Title</label><br>
  <input type="text" placeholder="Title of Position" name="title">
</div>

<div class="mb-2">
  <label>Location</label><br>
  <input type="text" placeholder="Location" name="location">
</div>

<div class="mb-2">
  <label>Salary</label><br>
  <input type="text" placeholder="Salary" name="salary">
</div>

<div class="mb-2">
  <label>Currency</label><br>
  <input placeholder="currency" name="currency">
</div>

<div class="mb-2">
  <label>Responsibilities</label><br>
  <textarea placeholder="Responsibilities" name="responsibilities"></textarea>
</div>

<div class="mb-2">
  <label>Requirements</label><br>
  <textarea name="requirements" placeholder="Requirements of job"></textarea>
</div>

<input type="submit" name="submit">
</form>